@import url(https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext);

/* Use this font by adding the CSS:
      font-family: 'Josefin Sans', sans-serif;
   (the sans-serif is a backup font, just in case)
*/

* {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 15px;
}

.intro {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10vh;
}

.blue_bground {
      background-color: #24495E;
}

.home {
      background: url("../static/bg.png") repeat-y center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
}

h1 {
      font-weight: 900;
}

.login {
      background-color: #34495E;
      color: #E4F1FE;
      width: 500px;
      height: 300px;
      padding: 20px;
      position: absolute;
      top: 50%;
      right: 50%;
      margin: -160px -260px;
      border-radius: 25px;
      -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
}

.signup {
      background-color: #34495E;
      color: #E4F1FE;
      width: 500px;
      height: 350px;
      padding: 20px;
      position: absolute;
      top: 50%;
      right: 50%;
      margin: -185px -260px;
      border-radius: 25px;
      -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
}

input[type=text],
input[type=password]{
      background-color: white;
      padding: 5px;
      padding-left: 25px;
      width: 300px;
      color: black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: none;
}

.username {
      background: url("../static/username.png") left center no-repeat;
}

.password {
      background: url("../static/password.png") left center no-repeat;
}

input[type=submit]{
      color: black;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 14px;
}