<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="logo" href="javascript:;" class="pull-left navbar-brand">
          <img src="{{ url_for('static', filename='img/logo.png') }}"
          height="30px">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
           <div class="input-group">
              <input type="text" class="form-control" style="width: 500px; padding: 15px;" placeholder="Search for...">
              <span >
              <button class="btn btn-default" type="button">Go!</button>
          </div>
        </li>
        <li><a href="javascript:;" id="signout">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Latest activity</a></li>
    <li role="presentation"><a href="#">Your Study Guides</a></li>
  </ul>
    </div>
  </nav>
  {% block content %}{% endblock %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"
    charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</body>

</html>