{% extends 'base.html' %}


{% block title %}Hedgehog{% endblock %}


{% block content %}

<div class="container">
  <h1>Create an Info Card!</h1>
  <form id="create-info">
    <h4>Title</h4>
    <input name="title"
      type="text" placeholder="Exploding Kittens..." />
    <h4>Body</h4>
    <textarea name="body" rows="4" cols="50"
      placeholder="How many cats does it take to build a rocket?...">
    </textarea>
    <h4>Tag</h4>
    <input name="tag"
      type="text" placeholder="physics..." />
    <input type="submit" name="submit" />
  </form>
</div>

{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>

<script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
