{% extends 'base.html' %}


{% block title %}Hedgehog{% endblock %}


{% block content %}

<center>
  <div class="container">
    <div class="infocard">
    <h1>Create an Info Card!</h1>
    <form id="create-info">
      Title
      <input name="title"
	     type="text" placeholder="Exploding Kittens..." />
      <br>
      <br>
      Body: 
      <br>
      <textarea name="body" 
		rows="4" cols="50" placeholder="How many cats does it take to build a rocket?...">
      </textarea>
      <br>
      Tag
      <input name="tag"
	     type="text" placeholder="physics..." />
      <br>
      <input type="submit" name="submit" />
    </form>
    </div>
  
  <!-- Box for assisted search -->
  <div class="assisted-search" align="right">
    <object data="/search" width="600" height="400"> <embed src="/search" width="600" height="400"> </embed> Error: Embedded data could not be displayed. </object>
    <!--<object type="text/html" data="search" width="250px" height="500px" style="overflow:auto;border:5px ridge blue"><center>-->
  </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>

<script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
