{% extends 'base.html' %}


{% block title %}Hedgehog{% endblock %}


{% block content %}

<center>
  <div class="container">
    <div class="infocard">
      <h1>Create an Info Card!</h1>
      <form id="create-info">
	Title
	<input name="title"
	       type="text" placeholder="Exploding Kittens..." />
	<br>
	<br>

	Body:
	<br>
	<textarea name="body"
			rows="4" cols="50" placeholder="How many cats does it take to build a rocket?...">
	</textarea>

	<!-- Editable Box not working nicely with db -->
	<!-- <div class="container"> -->
	<!--   <button onclick="myFunction()">EDIT BODY</button> -->
	<!--   <button onclick="stop()">SAVE BODY</button> -->
	<!--   <div class="box" align="left" -->
	<!--        style="width:500px; height: 170px; border:1px solid black;"> -->
    	<!--     <p id="myP" name="body" -->
	<!-- 	      style="width:500px; height: 170px;"> -->
	<!--       (Insert Body Here...) -->
	<!--     </p> -->
	<!--   </div> -->
	  
	<!-- </div> -->

	<br>
	Tag
	<input name="tag"
	       type="text" placeholder="physics..." />
	<br>
	<input type="submit" name="submit" />
      </form>
    </div>
    <br>
    <u><a href="/display_infos">See your created card</a></u>

    <hr>
    
    <!-- Box for assisted search -->
    <div class="assisted-search" align="center"
	 style="width:500px; height: 200px; border:5px solid black;">
      <object data="/search" style="width:500px; height: 200px;"> 
	<embed src="/search"> </embed> 
	<!-- Error: Embedded data could not be displayed. -->
      </object>
      <!--<object type="text/html" data="search" width="250px" height="500px" style="overflow:auto;border:5px ridge blue"><center>-->
    </div>
  </div>

  <br><br>
  {% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
