{% extends 'base.html' %}


{% block title %}Datas Testing{% endblock %}


{% block content %}
<h1>DATAS!</h1>
<h2>Tag Search</h2>
Search Tags: <input id="tags-search" type="text" name="tags" placeholder="v ug7eri" />
<div id="tags-search-results"></div>
<h2>Info Search</h2>
Search Info: <input id="info-search" type="text" name="info" placeholder="Put da thing here pls." />
<div id="info-search-results"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}
