{% extends 'base.html' %}


{% block title %}Hedgehog{% endblock %}


{% block content %}

<center>
  <div class="container">
    <h1>Info Cards in the Hedgehog Database</h1>
</form>
</div>
<br>

<div align="center">
  <object data="/displaying/" width="600" height="400"
	  style="width:100%; height: 400px;"> <embed src="/displaying/"> </embed> Error: Embedded data could not be displayed. </object>

<u><a href="{{url_for('create')}}">Or go to create a New Info Card</a></u>
<br>
<br>

</center>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
