{% extends 'base.html' %}

{% block title %} Hedgehog {% endblock %}

{% block content %}
<div class="home">
  <img src="{{ url_for('static', filename='img/splash.png') }}"
    class="intro"
    id="intro"
    style="display:none;">
  <div class="login" style="display:none;">
    <center>
      <h1>Login</h1>
      <br>
      <form id="login" action="{{ url_for('api', action='login') }}" method="POST">
        <input type="text" class="username" name="username" placeholder="Username (i.e. JohnDoe123)">
        <br><br>
        <input type="password" class="password" name="password" placeholder="Password (i.e. **********)">
        <br><br>
        <input type="submit" value="Login">
      </form>
    </center>
  </div>
  <div class="signup" style="display:none;">
    <center>
      <h1>Become a Quill Today!</h1>
      <br>
      <form id="register" method="POST" action="{{ url_for('api', action='register') }}">
        <input type="text" class="username" name="username" placeholder="Username (i.e. JohnDoe123)">
        <br><br>
        <input type="password" class="password" name="password" placeholder="Password (i.e. **********)">
        <br><br>
        <input type="password" class="password" name="passrepeat" placeholder="Repeat Password">
        <br><br>
        <input type="submit" value="Sign Up">
      </form>
    </center>
  </div>
  <div class="about" style="display:none;">
    
  </div>
  <div class="team" style="display:none;">
    <h1>Meet the Team</h1>
    <table>
      <!--
      <tr>
        <td>pic1</td>
        <td>pic2</td>
        <td>pic3</td>
        <td>pic4</td>
      </tr>
      -->
      <tr>
        <td>Leader</td>
        <td>Backend Developer</td>
        <td>UX Designer</td>
        <td>Middleware Developer</td>
      </tr>
      <tr>
        <td>Angela Chan</td>
        <td>Leon Cheng</td>
        <td>Amanda Chiu</td>
        <td>Eric Stringham</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/hedge.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}