{% extends 'base.html' %}


{% block title %}Hedgehog{% endblock %}

{% block content %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>Subjects</h1>
                        <div class="container">
                            <table class="table table-hover borderless" style="width:75%;">
                                <tr>
                                    <td><a href="#">
                                        <img src="{{ url_for('static', filename='img/atom18.png') }}"
                                        alt="Science">
                                        Science</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><img src="{{ url_for('static', filename='img/earth180.png') }}"
                                        alt="Science">
                                        History</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">
                                        <img src="{{ url_for('static', filename='img/pencil66.png') }}"
                                        alt="Science">
                                        English</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">
                                        <img src="{{ url_for('static', filename='img/atom18.png') }}"
                                        alt="Science">
                                        Math</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- THIS NEEDS TO BE INCLUDED IN THE FOOTER BECAUSE I GOT THE VECTOR ICONS FOR FREE -->
    <!--
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>Hedgehog is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    -->
    <!-- /#wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
