{% extends 'base.html' %}

{% block title %} Hedgehog {% endblock %}

{% block content %}
<div class="home">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="pull-left navbar-brand" href="#" onclick="homepage()">
                    <img src="../static/title.png"
                    height="30px">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#" id="signup" onclick="signup()">Sign Up</a></li>
                <li><a href="#" id="signin" onclick="signin()">Sign In</a></li>
                <li><a href="#" id="about" onclick="about()">About</a></li>
            </ul>
        </div>
    </nav>
    <img src="../static/hedgehog.png"
        class="intro"
        id="intro">
    <div class="login">
        <h1>Login</h1>
        <form>
            <input type="text" class="username" name="username" placeholder="Username (i.e. JohnDoe123)">
        </form>
    </div>
</div>

{% endblock %}