{% extends 'base.html' %}

{% block title %} Hedgehog {% endblock %}

{% block navbar %}
<li><a href="javascript:;" id="signup">Sign Up</a></li>
<li><a href="javascript:;" id="signin">Sign In</a></li>
<li><a href="javascript:;" id="about">About</a></li>
<li><a href="javascript:;" id="team">Team</a></li>
<li><a href="javascript:;" id="dummy">Dummy Login! :D</a></li>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="home">
  <img src="{{ url_for('static', filename='img/splash.png') }}"
    class="intro"
    id="intro"
    style="display:none;">
  <div class="login" style="display:none;">
    <center>
      <h1>Login</h1>
      <br>
      <form id="login" action="{{ url_for('api', action='login') }}" method="POST">
        <input type="text" class="username" name="username" placeholder="Username (i.e. JohnDoe123)">
        <br><br>
        <input type="password" class="password" name="password" placeholder="Password (i.e. **********)">
        <br><br>
        <input type="submit" value="Login">
      </form>
    </center>
  </div>
  <div class="signup" style="display:none;">
    <center>
      <h1>Become a Quill Today!</h1>
      <br>
      <form id="register" method="POST" action="{{ url_for('api', action='register') }}">
        <input type="text" class="username" name="username" placeholder="Username (i.e. JohnDoe123)">
        <br><br>
        <input type="password" class="password" name="password" placeholder="Password (i.e. **********)">
        <br><br>
        <input type="password" class="password" name="passrepeat" placeholder="Repeat Password">
        <br><br>
        <input type="submit" value="Sign Up">
      </form>
    </center>
  </div>
  <div class="about" style="display:none;">
    <center>
      <h1>Hedgehog</h1>
    </center>
    <p>
      Have you ever ripped your hair out in frustration as you scanned through countless pages of notes and online databases?
      Well, now you don't have to! I mean, you'll still have to go through your notes, but we'll go through the databases for you!
    </p>
    <p>
      Hedgehog is a collaborative study guide maker that will sift through several online databases to find information that might be
      useful to know for your next exam. asdf Hedgeworth, the mastermind behind this nifty creation, (something something).
    </p>
  </div>
  <div class="team" style="display:none;">
    <h1>Meet the Team</h1>
    <table>
      <!--
      <tr>
        <td>pic1</td>
        <td>pic2</td>
        <td>pic3</td>
        <td>pic4</td>
      </tr>
      -->
      <tr>
        <td>Leader</td>
        <td>Backend Developer</td>
        <td>UX Designer</td>
        <td>Middleware Developer</td>
      </tr>
      <tr>
        <td>Angela Chan</td>
        <td>Leon Cheng</td>
        <td>Amanda Chiu</td>
        <td>Eric Stringham</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/hedge.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}