{% extends 'base.html' %}

{% block title %} Hedgehog {% endblock %}

{% block navbar %}
<li><a href="javascript:;" id="signup">Sign Up</a></li>
<li><a href="javascript:;" id="signin">Sign In</a></li>
<li><a href="javascript:;" id="about">About</a></li>
<li><a href="javascript:;" id="team">Team</a></li>
<li><a href="javascript:;" id="dummy">Dummy Login! :D</a></li>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div class="home">
  <img src="{{ url_for('static', filename='img/splash.png') }}"
    class="intro"
    id="intro"
    style="display:none;">
  <div class="login" style="display:none;">
    <center>
      <h1>Login</h1>
      <br>
      <form id="login" action="{{ url_for('api', action='login') }}" method="POST">
        <input type="text" class="username" name="username" placeholder="Username (i.e. JohnDoe123)">
        <br><br>
        <input type="password" class="password" name="password" placeholder="Password (i.e. **********)">
        <br><br>
        <input type="submit" value="Login">
      </form>
    </center>
  </div>
  <div class="signup" style="display:none;">
    <center>
      <h1>Become a Quill Today!</h1>
      <br>
      <form id="register" method="POST" action="{{ url_for('api', action='register') }}">
        <input type="text" class="username" name="username" placeholder="Username (i.e. JohnDoe123)">
        <br><br>
        <input type="password" class="password" name="password" placeholder="Password (i.e. **********)">
        <br><br>
        <input type="password" class="password" name="passrepeat" placeholder="Repeat Password">
        <br><br>
        <input type="submit" value="Sign Up">
      </form>
    </center>
  </div>
  <div class="about" style="display:none;">
    <center>
      <h1>Hedgehog</h1>
    </center>
    <p>
    Welcome to Hedgehog! 
    <br><br>
    Hedgehog is an online tool that will help you compile a comprehensive study guide in just minutes. After signing up, you will have easy access to multitudes of relevant information from diverse and credible websites.
    <br><br>
    Our goal is to make studying a little easier for you and every other student. My team and I have worked hard to bring you Hedgehog, and we hope you enjoy the experience.
    <br><br>
    ~Hedgeworth
    </p>
  </div>
  <div class="team" style="display:none;">
    <center><h1>Meet my team!</h1></center>
    Creating Hedgehog was no easy task. I needed a team of dedicated coders, who shared the vision I had for Hedgehog, and their hard work brought it to life. Here they are!
    <br><br><br>
    <table width="100%" style="text-align: center;">
      <!--
      <tr>
        <td colspan="4">Mastermind<br>Hedgeworth</td>
      </tr>-->
      <tr>

        <td><img src="{{ url_for('static', filename='img/team/achan.png') }}"
    id="angela"
    style="height:100px;"></td>
        <td><img src="{{ url_for('static', filename='img/team/lcheng.png') }}"
    id="leon"
    style="height:100px;"></td>
        <td><img src="{{ url_for('static', filename='img/team/achiu.png') }}"
    id="amanda"
    style="height:100px;"></td>
    <td><img src="{{ url_for('static', filename='img/team/estringham.png') }}"
    id="eric"
    style="height:100px;"></td>
    </tr>
      <tr>
        <td>Leader<br>Angela Chan</td>
        <td>Backend Developer<br>Leon Cheng</td>
        <td>UX Designer<br>Amanda Chiu</td>
        <td>Middleware Developer<br>Eric Stringham</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/hedge.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}