{% extends 'base.html' %}


{% block title %}Hedgehog{% endblock %}


{% block content %}

{% if page_type=="search" %}
<center>
  <div class="container">
    <h1>Generate a Mnemonic Meme!</h1>
    <h4>Expression</h4>
    <form method="POST">
      <input name="equation" type="text" placeholder="F = m a">
      <p/>
      <input type="submit" name="button" value="search">
    </form>
  </div>
<br>
</center>
{% else %}

<center>
<h2>{{phrase}}</h2>
{% for url in image_urls %}
<img src={{url}} height="180" width="180">
{% endfor %}
</center>

{% endif %}
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/info.js') }}"></script>
{% endblock %}
