{% extends 'base.html' %}


{% block title %}Hedgehog{% endblock %}

{% block navbar %}
        <li><a style="color:#ffffff;">Welcome, {{ user.name }}</a></li>
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/profile">Profile</a></li>
        <li><a href="javascript:;" id="signout">Sign Out</a></li>
{% endblock %}

{% block content %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <center>
                        <img src="{{ url_for('static', filename='img/self.jpg') }}"
                        alt="It's you!"
                        style="height:12vh;">
                        <h1>{{ user.name }}'s Profile</h1>
                        <h2>{{ user.name }}'s Study Guides</h2>
                        
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
